<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="copyright" content="Copyright {{site.github.owner_name|default: site.author.name}} {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved."/>
<link rel='canonical' href='{{site.url}}{{page.permalink}}'/>
{% if site.author.twitter %}
<link rel='me' href="https://twitter.com/{{site.author.twitter}}"/>
{% endif %}
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico?'/>
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
<link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
<meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>



{% if page.hidden %}
<!-- page is hidden -->
<meta name="robots" content="noindex">
<title>{{page.title}} - {{site.name |default: site.title}}</title>
<meta property="og:title" content="{{page.title}}" />
<meta property="og:site_name" content="{{site.name}}" />
{% else %}
{% if page.seo_title %}
{% seo title=false %}
<title>{{ page.seo_title }}</title>
{% else %}
{% seo %}
{% endif %}
{% endif %}

{% if site.google_site_verification %}
<meta name="google-site-verification" content="{{ site.google_site_verification }}"/>
{% endif %}

{% feed_meta %}


<!-- Font Awesome. -->
<script src="https://use.fontawesome.com/679388f50b.js"></script>

<!-- fallback fonts -->
<script src="//use.edgefonts.net/gentium-basic;ubuntu-mono;merriweather;allerta.js"></script>

<script
    src="https://code.jquery.com/jquery-3.3.1.min.js" 
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>


<link rel='stylesheet' href='{{ "/assets/styles.css" | relative_url }}'/>

<script src='{{ "/assets/site.js" | relative_url }}'></script>




{% unless site.sharing.disabled %}
<!-- share-this module: https://github.com/MaxArt2501/share-this -->
<link href="https://cdn.jsdelivr.net/npm/share-this/dist/share-this.css" rel="stylesheet" type="text/css">
<style>
    .share-this-popover a[href]:link {
        color: white; /* the default share-this background is black; */
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/share-this/dist/share-this.js"></script>
{% if site.sharing.email %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/email.js"></script>
{% endif %}
{% if site.sharing.twitter %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/twitter.js"></script>
{% endif %}
{% if site.sharing.linkedin %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/linked-in.js"></script>
{% endif %}
{% if site.sharing.reddit %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/reddit.js"></script>
{% endif %}
{% if site.sharing.facebook %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/facebook.js"></script>
{% endif %}
<script>
function applySharingSelector(){
    var sharers = [];
    {% if site.sharing.facebook %} sharers.push(ShareThisViaFacebook); {% endif %}
    {% if site.sharing.twitter %} sharers.push(ShareThisViaTwitter); {% endif %}
    {% if site.sharing.linkedin %} sharers.push(ShareThisViaLinkedIn); {% endif %}
    {% if site.sharing.reddit %} sharers.push(ShareThisViaReddit); {% endif %}
    {% if site.sharing.email %} sharers.push(ShareThisViaEmail); {% endif %}

    

    return ShareThis({
        document: document,
        popoverClass: 'share-this-popover',
        selector: 'article',
        shareUrl: window.location.href,
        transformer: raw => raw.trim().replace(/\s+/g, " "), 
        sharers: sharers
    }).init()
}




setTimeout(function(){
    if (!window.matchMedia
        || !window.matchMedia("(pointer: coarse)").matches) {
            setTimeout(applySharingSelector, 1000);
            document.body.classList.add('social-active');
    } else {
        document.body.classList.add('social-inactive');
    }
}, 200);


</script>
{% else %}
<script>
    setTimeout(function(){
        document.body.classList.add('social-inactive');
    }, 200);
</script>
{% endunless %}
{% include analytics.html %}
