

<input type="checkbox" class="nav-checkbox" id="nav-checkbox">

<!-- navigation sidebar control (activator) -->
<label for="nav-checkbox" class="nav-toggle no-print">
        <i class="fa fa-bars no-print" aria-hidden="true"></i>
        </label>

<div class='navigation sidebar no-print'>
    <nav>


        {% unless site.navigation.pages_disabled %}
        <section class="site pages">
            <ul>

            {% assign pages = site.pages %}
            {% assign hidden = "hidden,blog" | split: "," %}

            {% if site.navigation.pages %}
            {% assign pages = site.navigation.pages %}
            {% endif %}

            {% assign pages = pages | where_exp: "p", "p.title != blank" %}
           

            {% assign pages = pages | sort: "url" %}
            {% for page in pages %}

                {% unless hidden contains page.collection or page.menu == false %}
                {% if page.title %}
                <li class="page">
                    <a class="page" href="{{ page.permalink | default: page.url | prepend: site.baseurl }}">
                        {{ title_default | default: page.menu_title | default: page.title | default: col_meta.title | default: "(untitled)" }}
                    </a>
                </li>
                {% endif %}
                {% endunless %}
            {% endfor %}
            </ul>
        </section>
        {% endunless %}

        {% unless site.navigation.hide_blog %}
        <section class="site blog">
     
            <ul>
                <!-- just the first page of blog (main) -->
                {% assign blogpage = site.pages | where: "path", "blog/index.html" | first %}
                <li><a href="{{ blogpage.url | prepend: site.baseurl }}">{{ blogpage.title }}</a></li>
            </ul>
            
            {% unless site.navigation.hide_blog_categories %}
            {% assign cats = site.navigation.category_count | default: 3 %}
            <em>Categories</em>
            <ul>
                {% for category in site.categories limit:cats %}
                {% assign cat = category | first %}
                {% assign catslug = cat | slugify %}
                <li><a href={{ "/blog/category/#" | append: catslug | relative_url }}>{{ cat }}</a></li>
                {% endfor %}
            </ul>
            {% endunless %}

            {% unless site.navigation.hide_blog_tags %}
            {% assign tagc = site.navigation.tag_count | default: 3 %}
            <em>Tags</em>
            <ul>
                {% for tag in site.tags limit:tagc %}
                {% assign t = tag | first %}
                {% assign tagslug = t | slugify %}
                <li><a href={{ "/blog/tag/#" | append: tagslug | relative_url }}>{{ t }}</a></li>
                {% endfor %}
            </ul>
            {% endunless %}

        </section>
        {% endunless %}

        {% if site.data.navigation.menu %}
        <section class="site links">
        
        {% for group in site.data.navigation.menu %}
        <em>{{ group.group }}</em>
        <ul>
        {% for link in group.links %}
            {% assign target = link.target | default: "_self" %}
            {% if target == "new" %}{% assign target="_blank" %}{% endif %}
            <li><a class="link {{ group[0] | slugify }}" href="{{link.url}}" target="{{target}}">{{link.name}}</a></li>
        {% endfor %}
        </ul>
        {% endfor %}

        </section>
        {% endif %}

        {% if site.author %}
        <section class="contact">
            <em>Contact</em>
            <ul id='contactinfo'>
            {% if site.author.twitter %}
            <li class='naturalcase'>{% include icon-twitter.html username=site.author.twitter %}</li>
            {% endif %}
            {% if site.author.github %}
            <li class='naturalcase'>{% include icon-github.html username=site.author.github %}</li>
            {% endif %}
            {% if site.author.linkedin %}
            <li class='naturalcase'>
                <a href='http://www.linkedin.com/in/{{site.author.linkedin}}'  class='naturalcase'  target="_blank">
                    <i class="fa fa-linkedin fa-lg icon-dimmed"></i>LinkedIn</a></li>
            {% endif %}
        </section>
        {% endif %}

      

        <section class="copyright bottom">
        <em id='copyright' class="naturalcase">
        &copy; {{page.date|default:site.time|date:"%Y"}}. All Rights Reserved.
        </em>
        </section>
    </nav>
</div>