<nav class='paginator'>
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="pagination previous">Newer</a>
    {% else %}
        <span class="pagination previous disabled link">Newer</span>
    {% endif %}

    <span class="pagination counter">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="pagination next">Older</a>
    {% else %}
        <span class="pagination next disabled link">Older</span>
    {% endif %}
</nav>