
{% assign post = include.post | default: include.page | default: page %}
{% assign author = site.data.authors[post.author] | default: site.author %}
{% assign authslug = author.name | slugify %}
{% assign authorurl = "/blog/author/#" | append: authslug | prepend: site.baseurl %}
{% assign count_tags = post.tags | size %}

<article class="{{ include.class }}">
    
    {% if include.header %}
    <header>
    <{{ include.header }}><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></{{ include.header }}>
    </header>
    {% endif %}

    {% unless include.show_meta == false %}
    <aside  class="publication-data">
        <span class="avoidwrap">
                Published 
            <time class='post timestamp' datetime='{{ post.date | default: site.time | date: "%F %T %Z" }}'>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | default: site.time | date_to_string }}</a>
            </time>
        </span>
        {% unless author == site.author %}
        <span class="author {{ authslug }} avoidwrap">
            by <a href="{{ author.web | default: authorurl }}" class="author">{{ author.name }}</a>
        </span>
        {% endunless %}

        {% if count_tags > 0 %}
        <ul class="tags">
            {% for tag in post.tags %}
            {% assign tagslug = tag | slugify %}
            {% assign tagurl = "/blog/tag/#" | append: tagslug | prepend: site.baseurl %}
            <li><a href="{{ tagurl }}" class="tag">{{ tag }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

    </aside>
    {% endunless %}

    {{ post.content | markdownify }}



</article>



