
    {% if paginator.posts %}
    {% for page in paginator.posts %}
    {% include post-main.html post=page class=include.class excerpt=include.excerpt fullbody=include.fullbody show_tags=include.show_tags header=include.header %}
    {% endfor %}


    <div class="paginator row">
        <div class="container">
        {% include paginator.html %}
        </div>
    </div>

    {% else %}
    {% for page in site.posts limit:100 %}
    {% include post-main.html post=page class=include.class %}
    {% endfor %}
    {% endif %}

