{% assign related_posts = "" | split: "," %}
{% assign post = include.post | default: page %}


{% for tag in post.tags %}
{% if site.tags[tags] %}
{{ site.tags[tag] | inspect }}

{% endif %}
{% endfor %}

{% assign related_posts = related_posts | where_exp: "p", "p.url != page.url" | uniq %}

<ul class="related-posts">
    <!-- showing up to {{ include.limit | default: "<unlimited>" }} posts -->
{% for p in related_posts limit:include.limit %}
<li class="post related"><a href="{{ p.url | prepend: site.baseurl }}">{{p.title}}</a></li>    
{% endfor %}
</ul> 