
{% assign auto_excerpt_limit = site.auto_excerpt_limit | default: 300 %}

{% if include.category %}
    {% assign posts = site.posts | where_exp: "p","p.categories contains include.category" %}
{% elsif include.tag %}
    {% assign posts = site.tags[include.tag] %}
{% elsif include.sticky %}
    {% assign posts = site.posts | where: "sticky",include.sticky %}
{% elsif include.author %}
    {% if include.author == "site.author" %}
    {% assign posts = site.posts | where: "author",nil %}
    {% else %}
    {% assign posts = site.posts | where: "author",author %}
    {% endif %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if include.recent > 0 %}
    {% assign looplimit = include.recent %}
{% else %}
    {% assign looplimit = site.posts | size %}
{% endif %}



{% assign posts = posts | uniq %}
{% for post in posts limit:looplimit reversed %}

{% assign wordcount = post.content | number_of_words %}
{% assign display_style = include.display_style | default: nil %}

{% if include.fullbody == true %}
{% assign display_style = "fullbody" %}
{% elsif include.excerpt == true %}
{% assign display_style = "excerpt" %}
{% elsif display_style == "auto" %}
{% assign display_style = nil %}
{% endif %}

{% if wordcount < auto_excerpt_limit %}
{% assign display_style = display_style | default: "fullbody" %}
{% else %}
{% assign display_style = display_style | default: "excerpt" %}
{% endif %}


<!-- words: {{ wordcount }} @ {{ auto_excerpt_limit }} : {{ display_style }} ({{ include.display_style }}, {{ include.fullbody }}, {{ include.excerpt }}) -->
{% case display_style %}
{% when "fullbody" %}
{% include post-main.html post=post header=include.header class=include.class %}
{% when "excerpt" %}
{% include post-excerpt.html post=post readmore=include.readmore  show_tags=include.show_tags show_author=include.show_author class=include.class %}
{% else %}
<!-- # {{ display_style }} @ {{ post.title }}  -->
{% endcase %}

{% endfor %}





