<div class="publish date {{include.class}}">
    <span class="avoidwrap">
    Published
    <time class='post timestamp' datetime='{{ page.date | default: site.time | date: "%F %T %Z" }}'>
        {{page.date | default: site.time | date_to_string }}
    </time>
    </span>

    {% if page.author or site.author.name %}
    {% assign author = page.author | default: site.author.name %}
    {% assign authslug = author | slugify %}
    <span class="author {{ authslug }} avoidwrap">by 
        <a href="{{ "/author/#" | append: authslug | prepend: site.baseurl }}" class="author">{{ author }}</a></span>
    {% endif %}

</div>

{% unless include.show_tags == false %}
{% include post-tags.html %}
{% endunless %}

{% unless include.show_categories == false %}
{% include post-categories.html %}
{% endunless %}

