
    {% if paginator.posts %}
    {% for page in paginator.posts %}
    {% include post.html page=page excerpt=include.excerpt fullbody=include.fullbody show_tags=include.show_tags show_categories=include.show_categories %}
    {% endfor %}


    <div class="paginator row">
        <div class="container">
        {% include paginator.html %}
        </div>
    </div>

    {% else %}
    {% for page in site.posts limit:100 %}
    {% include post.html page=page %}
    {% endfor %}
    {% endif %}

