{% assign post = include.post | default: include.page %}
{% assign header = include.header | default: "h2" %}
<article class="post article {{include.class}}">
    <div class="container">
        <{{header}}><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></{{header}}>

        {% assign author = site.data.authors[post.author] | default: site.author %}
        {% include post-meta.html class="meta" show_tags=include.show_tags show_categories=include.show_categories author=author show_author=include.show_author %}

        {% if include.excerpt %}
        <p class='excerpt'>
            {% assign alt_excerpt = post.content | truncatewords: 60 %}
            {{ post.excerpt | default:alt_excerpt | markdownify  }}
        </p>
        <a class="readmore" href="{{ post.url | prepend: site.baseurl }}">Continue Reading</a>
        {% elsif include.fullbody %}
        <div class="post content">
            {{ post.content | markdownify }}
        </div>
        {% endif %}
    </div>
</article>