

{% if include.category %}
    {% assign posts = site.posts | where_exp: "p","p.categories contains include.category" %}
{% elsif include.tag %}
    {% assign posts = site.tags[include.tag] %}
{% elsif include.sticky %}
    {% assign posts = site.posts | where: "sticky",include.sticky %}
{% elsif include.author %}
    {% if include.author == "site.author" %}
    {% assign posts = site.posts | where: "author",nil %}
    {% else %}
    {% assign posts = site.posts | where: "author",author %}
    {% endif %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if include.recent > 0 %}
    {% assign looplimit = include.recent %}
{% else %}
    {% assign looplimit = site.posts | size %}
{% endif %}


{% assign posts = posts | uniq %}

{% for page in posts limit:looplimit reversed %}
{% include post.html page=page fullbody=include.fullbody excerpt=include.excerpt %}
{% endfor %}

