
{% if include.category %}
    {% assign posts = site.posts | where_exp: "p","p.categories contains include.category" %}
{% elsif include.tag %}
    {% assign posts = site.tags[include.tag] %}
{% elsif include.sticky %}
    {% assign posts = site.posts | where: "sticky",include.sticky %}
{% elsif include.author %}
    {% if include.author == "site.author" %}
    {% assign posts = site.posts | where: "author",nil %}
    {% else %}
    {% assign posts = site.posts | where: "author",author %}
    {% endif %}
{% else %}
    {% assign posts = site.posts %}
{% endif %}

{% if include.recent > 0 %}
    {% assign looplimit = include.recent %}
{% else %}
    {% assign looplimit = site.posts | size %}
{% endif %}



{% assign posts = posts | uniq %}
<!-- fullbody:{{ include.fullbody }} excerpt:{{ include.excerpt }} -->
{% for post in posts limit:looplimit reversed %}
{% if include.fullbody == true %}
{% include post-main.html post=post header=include.header class=include.class %}
{% elsif include.excerpt == true %}
{% include post-excerpt.html post=post readmore=include.readmore  show_tags=include.show_tags show_author=include.show_author class=include.class %}
{% endif %}
{% endfor %}





