
{% unless site.sharing.disabled %}
<!-- share-this module: https://github.com/MaxArt2501/share-this -->
<link href="https://cdn.jsdelivr.net/npm/share-this/dist/share-this.css" rel="stylesheet" type="text/css">
<style>
    .share-this-popover a[href]:link {
        color: white; /* the default share-this background is black; */
    }

    .share-this-popover::before {
        margin-bottom: 0.3em;
    }

    .share-this-popover {
        /* workaround a safari bug. 
            https://stackoverflow.com/questions/56478925/safari-drop-shadow-filter-remains-visible-even-with-hidden-element */
        will-change: filter; 
    }


</style>

<script src="https://cdn.jsdelivr.net/npm/share-this/dist/share-this.js"></script>
{% if site.sharing.email %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/email.js"></script>
{% endif %}
{% if site.sharing.twitter %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/twitter.js"></script>
{% endif %}
{% if site.sharing.linkedin %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/linked-in.js"></script>
{% endif %}
{% if site.sharing.reddit %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/reddit.js"></script>
{% endif %}
{% if site.sharing.facebook %}
<script src="https://cdn.jsdelivr.net/npm/share-this/dist/sharers/facebook.js"></script>
{% endif %}
<script>
function applySharingSelector(){
    var sharers = [];
    {% if site.sharing.facebook %} sharers.push(ShareThisViaFacebook); {% endif %}
    {% if site.sharing.twitter %} sharers.push(ShareThisViaTwitter); {% endif %}
    {% if site.sharing.linkedin %} sharers.push(ShareThisViaLinkedIn); {% endif %}
    {% if site.sharing.reddit %} sharers.push(ShareThisViaReddit); {% endif %}
    {% if site.sharing.email %} sharers.push(ShareThisViaEmail); {% endif %}

    

    return ShareThis({
        document: document,
        popoverClass: 'share-this-popover',
        selector: 'body.social-active article',
        shareUrl: window.location.href,
        transformer: raw => raw.trim().replace(/\s+/g, " "), 
        sharers: sharers
    }).init()
}




setTimeout(function(){
    if (!window.matchMedia
        || !window.matchMedia("(pointer: coarse)").matches) {
            setTimeout(applySharingSelector, 1000);
            document.body.classList.add('social-active');
            document.body.classList.remove('social-inactive');
    } else {
        document.body.classList.remove('social-active');
        document.body.classList.add('social-inactive');
    }
}, 200);


</script>
{% else %}
<script>
    setTimeout(function(){
        document.body.classList.add('social-inactive');
        document.body.classList.remove('social-active');
    }, 200);
</script>
{% endunless %}



<script>
    // Allow users to disable sharing plugin via cookie
    setInterval(function(){
        document.cookie.replace(/social_sharing=disabled/, function(){
            document.body.classList.add('social-inactive');
            document.body.classList.remove('social-active');
        });
    }, 300);
</script>