

/**
 * Clearfix
 */
 %clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    &:after,
    &:before {
        flex-basis: 0;
        order: 1;
    }
}

.clearfix {
    @extend %clearfix;
}

/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
     margin: 0;
     padding: 0;
 }
 
 
/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
 h1, h2, h3, h4, h5, h6,
 p, blockquote, pre,
 ul, ol, dl, figure,
 %vertical-rhythm {
     margin-bottom: $spacing-unit / 4;
     margin-top: $spacing-unit / 8;
 }


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Print media defaults
 */

.print-only {
    @include printonly;
}

.no-print {
    @include noprint;
}


/* Headings :) */
header {
    // position: relative;

    @include small {
        margin-top: 0.25em;
    }

    h1, h2, h3, h4, h5, h6 {
        display: inline-block;
        clear: none;
        margin: 0;

        @include small{
            clear: both;
            display: table-cell;
            padding: 0;
            font-size: 1.5rem;
            margin-top: auto;
            margin-bottom: auto;
            vertical-align: middle;
        }
    }


}


 
/**
 * Lists
 */
 ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}


a[href] {
    &:link {
        color: $brand-color;
    }

    &:visited {
        color: $brand-color-dark;
    }
}



body {

    font-family: $base-font-family;
    font-size: $base-font-size;
    word-spacing: 0.15rem;
    letter-spacing: 0.025rem;


    @include large {
        height: 100%;
    }

    .small {
        font-size: $small-font-size;
    }


    .meta {
        font-style: italic;
        color: $grey-color;
    }

    .dark {
        .meta {
            color: transparentize($color: $text-color-light, $amount: 0.4);

            @include print {
                color: $grey-color;
            }
        }
    }

    #{$content-wrapper} {
        position: relative;
                
        @include large {
            height: 100%;
        }

        .bottom {
            @include large {
                // position: absolute;
            }
            bottom: 0;
        }

    }
}