

// Implements a left-side column for navigation controlled by a (hidden) checkbox
body.nav-sidebar {

    @import "vars";
    $sidebar-background: $brand-color-dark;
    $sidebar-font-family: $base-font-family-sans;
    $activator-color: $brand-color-dark;
    $activator-background: $background-color;
    $content-wrapper: "main";
    $sidebar-width: 17rem;


    @import "sidebar";
    
    #{$content-wrapper} > header {
        // Top header gets shifted to the right when the screen is condensed.
        
        @include small {
            padding-left: 4rem;
        }

        @include medium {
            padding-left: 4rem;
        }

    }



    // This adjusts the icon placement for LinkedIn
    nav a i.fa {
        position: relative;
        top: -0.2rem;
    
        &.icon-dimmed {
            opacity: 0.5;
            margin-right: 0.5rem;
        }
    }

}