/**
 Blog listing configurtion

 */
div.blog {


    article {


        &.post {


            a.readmore {
                font-style: italic;
            }

        }


        // margin-bottom: 3em;

    }

}

div.post {
    a.tag {
        font-size: 1rem;
        display: inline-block;
        border: 1px $brand-color-dark solid;
        border-radius: 0.25rem;
        background-color: $text-background-highlight;
        color: $text-color-light;
        padding: 0.25rem;
    }
}