
// Inline code, i.e. single ticks like `this`
code.highlighter-rouge {
	color: #992222;
	background-color: #FFEFEF;
	padding: 0.15rem;
	border: 1px solid rgba(99, 22, 22, 0.3);
}

div.highlighter-rouge div.highlight {

	//@include boxset(1rem);
	$border-shadow-depth: 0.125rem;
	box-shadow: 0 0 $border-shadow-depth ($border-shadow-depth/2) rgba(0, 0, 0, 0.1) inset;
	border-radius: $border-shadow-depth;
	padding: 0;
	background-color: transparent;
	overflow-y: scroll;
	word-wrap: normal;
}


pre.highlight {

	&,
	& code {
		font-family: $font-family-monospace;
		background-color: transparent;
		background: transparent;
	}

	padding: 0.5rem;


	@include small {
        width: 100%;
        overflow: scroll;
	}

}
