---
layout: default
metadata: true
related_limit: 15
---

{% include header.html %}

<aside class='row meta thin'>
{% include post-meta.html class="container" show_tags=false show_categories=false %}
</aside>

<article class="row">
<div class="container post">
{{ content | markdownify }}
</div>
</article>

<aside class="row">
    <div class="containers">
        {% include post-tags.html %}
    </div>
</aside>

{% assign count_tags = page.tags | size %}
{% if count_tags > 0 %}
<aside class="row">
    <div class="container">
        <h2>Related Posts</h2>
            {% include posts-related.html post=page limit=page.related_limit  %}
    </div>
</aside>
{% endif %}

